<div class="header">
    <div class="d-flex">
        <a routerLink="/home" class="router">Home</a>
        <mat-divider [vertical]="true" class="router-divider"></mat-divider>
        <a routerLink="/sobre" class="router">Sobre</a>
        <mat-divider [vertical]="true" class="router-divider"></mat-divider>
        <a routerLink="/loja" class="router">Loja</a>
        <mat-divider [vertical]="true" class="router-divider"></mat-divider>
        <a routerLink="/ajuda" class="router">Ajuda</a>
    </div>
    <div class="cart">
        <button mat-raised-button color="primary" class="cart-button" routerLink="/carrinho">
            <mat-icon>shopping_cart</mat-icon>
            Carrinho
        </button>
    </div>
</div>