.categorias {

    .description-divider {
        padding: 0 40%;
    }

    .custom-slider-main {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        max-width: 630px;
    }
      
    .info-box {
        margin: 5px;
        border-radius: 2px;
        
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 2px;
        }
    }

    .mat-icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }
}

@media screen and (max-width: 800px) {
    .categorias {
        .custom-slider-main {
            max-width: 210px;
        }
    }
}