<div class="dialog-produto-adicionado p-5 d-flex flex-column align-items-center">
    <mat-icon class="dialog-icon">shopping_cart</mat-icon>
    <div class="p-3">Produto adicionado ao carrinho!</div>
    <mat-divider class="w-100"></mat-divider>
    <div class="p-3">O que você deseja fazer agora?</div>
    <div class="d-flex">
        <button mat-raised-button color="white" class="me-2" (click)="fecharDialog()">Continuar comprando</button>
        <button mat-raised-button color="primary" (click)="irParaCarrinho()">Ir para o carrinho</button>
    </div>
</div>
