<div class="home">
    <div class="home-loader" *ngIf="loading">
        <div class="logo d-flex justify-content-center mt-3">
            <ngx-skeleton-loader class="mx-5" appearance="circle" [theme]="{'border-radius': '5px', 'height': '25px', 'width': ehMobile ? '90vw' : '60vw'}"></ngx-skeleton-loader>
        </div>
        <div class="description-divider mt-5 mb-4">
            <mat-divider></mat-divider>
        </div>
        <div class="categories d-flex justify-content-center">
            <ngx-skeleton-loader class="mx-5" [count]="ehMobile ? 1 : 3" appearance="circle" [theme]="{'border-radius': '5px', 'height': '200px', 'width': '200px'}"></ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <ngx-skeleton-loader [theme]="{'border-radius': '5px', 'width': '150px', 'height': '30px'}"></ngx-skeleton-loader>
        </div>
        <div class="px-3 mt-2">
            <mat-divider></mat-divider>
        </div>
        <div class="logo d-flex justify-content-center mt-3">
            <ngx-skeleton-loader class="mx-5" appearance="circle" [theme]="{'border-radius': '5px', 'height': '25px', 'width': ehMobile ? '70vw' : '40vw'}"></ngx-skeleton-loader>
        </div>
        <div class="categories d-flex justify-content-center mt-3">
            <ngx-skeleton-loader class="mx-5" [count]="ehMobile ? 1 : 2" appearance="circle" [theme]="{'border-radius': '5px', 'height': '300px', 'width': '300px'}"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="home-page" *ngIf="!loading">
        <div class="title d-flex justify-content-center">
            <span>ONLY BABIES</span>
        </div>
        <div class="description-divider mt-5 mb-4">
            <mat-divider></mat-divider>
        </div>
        <app-carousel [items]="categorias"></app-carousel>
        <mat-divider class="my-4"></mat-divider>
        <div class="title d-flex justify-content-center mt-5 mb-4">
            <span>PRODUTOS EM DESTAQUE</span>
        </div>
        <app-carousel [items]="produtos" (itemClicked)="navegarParaDetalhesDoProduto($event)" class="big"></app-carousel>
        <mat-divider class="my-5"></mat-divider>
        <div class="about-us">
            <div class="about-us-title">Sobre Nós</div>
            <div class="about-us-description mb-4">
                Only Babies é uma loja online especializada em produtos e artigos para bebês. Nossa missão é oferecer aos pais e cuidadores uma ampla seleção de produtos de alta qualidade para atender às necessidades dos seus pequenos.
            </div>
        </div>
    </div>
</div>