.logo {
    text-align: center;
}
.logo img {
    height: 95%;
    top: 0;
}
h1 {
    text-align: center;
}
.section {
    margin-top: 20px;
}
.container {
    margin: 0 auto;
    padding: 20px;
    height: 100vh;

    .about {
        font-size: 75px;
    }

    .sub-title {
        font-size: 50px;
    }

    .sub-description {
        font-size: 18px;
        margin: 10px 0 50px 0;
    }
}