<div class="container">
    <title>OnlyBabies - Sobre nós</title>
    <!-- <div class="logo">
        <img src="https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="OnlyBabies">
    </div> -->
    <div class="about d-flex justify-content-center"><span>Sobre nós</span></div>
    <div class="ms-5">
        <div class="section w-50">
            <div class="sub-title">Nosso produto</div>
            <div class="sub-description">OnlyBabies é uma loja virtual especializada em artigos para bebês. Oferecemos uma ampla variedade de produtos de alta qualidade para bebês, desde roupas até acessórios e brinquedos.</div>
            <!-- Adicione aqui imagens dos seus produtos -->
        </div>
        <div class="section w-50">
            <div class="sub-title">Nosso propósito</div>
            <div class="sub-description">Nosso objetivo é oferecer aos pais uma experiência de compra fácil e conveniente, com produtos de alta qualidade a preços acessíveis. Queremos ajudar os pais a encontrar tudo o que precisam para seus bebês em um só lugar.</div>
            <!-- Adicione aqui imagens relacionadas ao seu propósito -->
        </div>
    </div>
</div>
