.logo {
    text-align: center;
}
.logo img {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
}
.section {
    margin-top: 20px;
}
.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: 100vw auto;
    width: 100vw;
    height: 150vh;
    color: white;

    .about {
        font-size: 85px;
    }

    .sub-title {
        font-size: 60px;
    }

    .sub-description {
        font-size: 22px;
        margin: 10px 0 50px 0;
    }
}