<div class="d-flex flex-column p-5">
    <mat-icon svgIcon="pix-logo" class="pix-logo"></mat-icon>
    <ul class="steps">
        <li class="steps-item"><span class="step-number"> 1 </span> Finalize sua compra e abra o app do banco na opção Pix</li>
        <li class="steps-item"><span class="step-number"> 2 </span> Aponte a câmera do celular para o código ou copie e cole o código </li>
        <li class="steps-item"><span class="step-number"> 3 </span> Confira os dados e confirme seu pagamento pelo app dobanco </li>
    </ul>
</div>