@use '@angular/material' as mat;
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat.core();

$primary: mat.define-palette(mat.$grey-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$white: (
  50: #ffffff,
  100: #f2f2f2,
  200: #e6e6e6,
  300: #d9d9d9,
  400: #cccccc,
  500: #bfbfbf,
  600: #b3b3b3,
  700: #a6a6a6,
  800: #999999,
  900: #8c8c8c,
);
$black: (
  50: #000000,
  100: #0d0d0d,
  200: #1a1a1a,
  300: #262626,
  400: #333333,
  500: #404040,
  600: #4d4d4d,
  700: #595959,
  800: #666666,
  900: #737373,
);

$my-medium-theme: mat.define-light-theme((
 color: (
    primary: $primary,
    accent: $accent,
    white: $white,
    black: $black,
 ),
 density: 0,
));

$my-small-theme: mat.define-light-theme((
 color: (
    primary: $primary,
    accent: $accent,
    white: $white,
    black: $black,
 ),
 density: minimum,
));

@include mat.all-component-themes($my-medium-theme);

.small-input {
  @include mat.form-field-density($my-small-theme);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #606060;
}

.icon-button {
  cursor: pointer;
}
