.gerenciar-produtos {
    padding: 20px 40px;

    .card {
        padding: 32px;
    }

    .title {
        font-weight: 600;
        margin-bottom: 20px;
        font-size: large;
    }

    .options {
        height: 36px;
        position: relative;
        
        .search-bar {
            background-color: #F9FAFB;
            margin-right: 8px;
        }
    
        .search-icon {
            padding: 5px;
            color: #9CA3AF;
        }
    }
}

@media only screen and (max-width: 800px) {
    .gerenciar-produtos {
        padding: unset;
    }

    .card {
        height: 100vh;
    }
}

  