.gerenciar-produtos {
    padding: 20px 40px;

    .card {
        padding: 32px;
    }

    .title {
        font-weight: 600;
        margin-bottom: 20px;
        font-size: large;
    }

    .options {
        height: 32px;
        
        .input-wrapper {
            position: relative;
            margin-right: 16px;
    
            .search-icon {
                position: absolute;
                margin-left: 5px;
                font-size: 20px;
                height: 20px;
                width: 20px;
                color: #9CA3AF;
            }
    
            .search-bar {
                padding-left: 30px;
                background-color: #F9FAFB;
                border-radius: 8px;
                border-color: #E5E7EB;
            }

            .admin-button {
                border-radius: 8px;
            }
        }
    }
}