<div class="gerenciar-produtos">
    <mat-card class="card">
        <ng-container *ngIf="rotas.ultimaRota === 'produtos'">
            <div class="title">Produtos</div>
            <div class="options d-flex align-items-center justify-content-end mb-2">
                <mat-form-field appearance="outline" color="primary" class="search-bar small-input">
                    <input matInput [(ngModel)]="searchValue" placeholder="Busque pelo nome">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                </mat-form-field>
                <button class="admin-button h-100" mat-raised-button color="white" (click)="adicionarProduto()"><mat-icon>add</mat-icon>Novo produto</button>
            </div>
            <div class="d-flex justify-content-center">
                <app-tabela-produtos
                class="w-100"
                [produtos]="produtos"
                [filtro]="searchValue"
                [filtragem]="filtragem"
                *ngIf="!loading"></app-tabela-produtos>
                <mat-spinner [diameter]="40" color="primary" *ngIf="loading"></mat-spinner>
            </div>
        </ng-container>
        <ng-container *ngIf="rotas.ultimaRota !== 'produtos'">
            <router-outlet></router-outlet>
        </ng-container>
    </mat-card>
</div>